  <div class="container"> <!--A fő containere a felületnek-->
    <div class="row full-height justify-content-center"><!--Egy sort állít be ami betölti  az egész oldalt-->
      <div class="align-self-center py-5"><!--Középre igazítás-->
        <div class="section pb-5 pt-5 text-center">
          <!--A login felület-->

          <div class="card-3d-wrap mx-auto">
            <div>
              <div class="card-front">
                <p class="fw-bold bej">Bejelentkezés</p>
                <div class="center-wrap">
                  <div class="section text-center">
                    <div class="tavtarto">
                      <p class="alert alert-danger" *ngIf="bejelentkezesService.bejHiba === 'Szerver1' || bejelentkezesService.bejHiba ==='Hibasadatok'">
                        Helytelen bejelentkezési adatok!
                      </p>

                      <p class="alert alert-danger" *ngIf="bejelentkezesService.bejHiba === 'Szerver2'">
                        Oops! Próbálja újra később!
                      </p>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-style" name="emailBej" placeholder="Email-cím" [(ngModel)]="felhasznalo.email"> <!-- Az ngModel segítségével változóba kerül a beírt adat -->
                      <i class="input-icon uil uil-at"></i>
                    </div>

                    <div class="form-group mt-4">
                      <input type="password" class="form-style" name="jelszoBej" placeholder="Jelszó" [(ngModel)]="felhasznalo.jelszo">
                      <i class="input-icon uil uil-lock-alt"></i>
                    </div>

                    <button type="submit" value="Bejelentkezés" class="btn mt-4" (click)="bejelentkezesGomb()">Bejelentkezés</button> <!-- Az adatok elüldése -->

                    <p class="mb-0 mt-4"><a href="" class="link">Elfelejtetted a jelszavad?</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

