.keptar {
  margin-top: 5%;
}

.keptarKep {
  height: 650px;
  width: 1000px;
  opacity: 70%;
}

ngb-carousel {
  display: block;
  margin: 0 auto;
  width: 1000px;
}

.carousel-caption {
  font-size: 24px;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 70%);
  /*color: black;*/
  /*background-color: rgba(255,255,255, 70%)*/
}



