<div class="container">
  <!-- Felhasználó üdvüzlése -->
  <div class="row" id="username">
    <h1>Üdv "Felhasználónév"</h1>
  </div>
  <br>
  <div class="row">
    <div class="col-3">
      <!-- Felhasználó adatai -->
      <div class="profiladat">
        <img src="/assets/img/profilepic.jpg" alt="Profilkép" id="profilkep">
        <div class="adatmezo">
          <label for="telszam">Telefonszám:</label>
          <input type="text" name="telszam" id="telszam" placeholder="06201234567">
          <label for="szulEv">Születési év:</label><br>
          <input type="date" name="szulEv" id="szulEv" placeholder="">
          <button type="button" id="adatMentes">Adatok mentése</button>
        </div>
      </div>
    </div>
    <div class="col-7">
      <!-- A jelentkezett túrák közül a leghamarabb bekövetkező. -->
      <div class="tura">
        <p class="turacim">Következő túrád:</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis numquam enim suscipit neque culpa, fugit consectetur quisquam sequi delectus quam assumenda quia, sed sit itaque sint non, veritatis necessitatibus. Culpa rem facilis dolore at sequi optio temporibus maiores similique, quia praesentium iste quasi veritatis aut molestias libero saepe laboriosam inventore.</p>
      </div>
      <br>
      <!-- Az összes túra amire a felhasználó jelentkezett -->
      <div class="tura">
        <p class="turacim">Túráid:</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis numquam enim suscipit neque culpa, fugit consectetur quisquam sequi delectus quam assumenda quia, sed sit itaque sint non, veritatis necessitatibus. Culpa rem facilis dolore at sequi optio temporibus maiores similique, quia praesentium iste quasi veritatis aut molestias libero saepe laboriosam inventore.</p>
      </div>
    </div>
    <div class="col-2">
      <!-- Profil törlésére szolgáló gomb -->
      <button type="button" id="profdelete">Profil törlése</button>
    </div>
  </div>
</div>
