<section>
  <div class="wrap">
    <div class="search">
      <input type="text" class="searchTerm" placeholder="Keresés...">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
      </button>
    </div>
    <div class="talalat">
      <p>Találat1</p>
      <p>Találat2</p>
      <p>Találat3</p>
    </div>
  </div>

  <div class="kartya">
    <div class="container">
      <div class="row">
        <h3 id="kartyacim">Ízletes vargánya</h3>
      </div>
      <div class="row">
        <div class="col-8">
          <p class="kartyaleiras">
            Az ízletes vargánya (Boletus edulis) a gombákhoz (Fungi), azon belül tinórugomba-alkatúak (Boletales)[r 1] rendjébe és a tinórufélék
            (Boletaceae) családjába tartozó faj.
          </p>
        </div>
        <div class="col-4">
          <img class="kartyakep" ngSrc="/assets/img/varganya.jpg" alt="vargánya" height="960" width="1280">
        </div>
      </div>
    </div>
  </div>

</section>
