/* Az enciklopédia kártya háttere */

.kartya {
  background-color: #3c915f;
  padding: 1%;
  margin-top: 3%;
  margin-right: 15%;
  margin-left: 40%;
  overflow: hidden;
  border: 5px solid black;
  border-radius: 25px;
  display: inline-block;
}

/* Az enciklopédia kártya címsora */

#kartyacim {
  text-align: left;
  margin-bottom: 5%;
  border: 4px solid black;
  border-radius: 25px;
  padding: 2%;
}

/* Az enciklopédia kártyán szereplő kép */

.kartyakep {
  height: 150px;
  width: 150px;
  margin-bottom: 5%;
}

/* Az enciklopédia kártya leírása */

.kartyaleiras {
  text-align: left;
}

/* A kereső input része */

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid black;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black;
  height: 36px;
}

.searchTerm:focus{
  color: black;
}

/* A kereső kattintható gombja */

.searchButton {
  width: 40px;
  height: 36px;
  border: 3px solid black;
  background-color: white;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}



.wrap{
  width: 20%;
  margin-top: 5%;
  margin-left: 5%;
  position: absolute;
  top: 15%;
  left: 11%;
  transform: translate(-50%, -50%);
}

/* A keresőben kihozott találatok */

.talalat {
  background-color: white;
  font-size: larger;
  padding: 3% 0% 0% 2%;
}

