<!-- Fórum bejegyzés -->
<div class="forum">
  <!-- Bejegyzés létrehozójának neve -->
  <p class="forumFelhasznaloNev">%Felhasználónév%</p>
  <!-- Bejegyzés témája -->
  <p class="forumKerdes">A téma bővebb kifejtése</p>
  <!-- Reakciógombok -->
  <p><button class="like"><img src="/assets/img/thumbsup.png" alt="like"></button><button class="dislike"><img src="/assets/img/thumbsdown.png" alt="dislike"></button></p>
  <p></p>
</div>
<div class="forum">
  <p class="forumFelhasznaloNev">%Felhasználónév%</p>
  <p class="forumKerdes">A téma bővebb kifejtése</p>
  <p><button class="like"><img src="/assets/img/thumbsup.png" alt="like"></button><button class="dislike"><img src="/assets/img/thumbsdown.png" alt="dislike"></button></p>
</div>
<div class="forum">
  <p class="forumFelhasznaloNev">%Felhasználónév%</p>
  <p class="forumKerdes">A téma bővebb kifejtése</p>
  <p><button class="like"><img src="/assets/img/thumbsup.png" alt="like"></button><button class="dislike"><img src="/assets/img/thumbsdown.png" alt="dislike"></button></p>
</div>

<!-- Új bejegyzés létrehozása -->
<button class="forumHozzaadas"><img src="/assets/img/add.png"></button>
