<!-- Fórum bejegyzés -->
<div class="forum" *ngFor="let poszt of Posztok">
  <!-- Bejegyzés létrehozójának neve -->
  <p class="forumFelhasznaloNev">{{poszt.Cim}}</p>
  <p class="forumCim" (click)="PosztMegniytasModal(PosztMegnyitas, poszt.Poszt_id)"><button>Részletek</button></p>
  <ng-template #PosztMegnyitas let-modal class="megnyitasModal">
    <div class="container" *ngFor="let posztkommenttel of PosztokKommenttel">
    <div class="modal-header centered megnyitasModal">
      <p class="posztModalCím">{{posztkommenttel.Cim}}</p>
      <p class="posztModalCím">{{posztkommenttel.PosztoloNeve}}</p>
    </div>
    <div class="modal-body centered megnyitasModal">
      <div class="container">
        <div class="row">
          <div>
            <p class="postModalSzoveg">{{posztkommenttel.Szoveg}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer d-flex justify-content-start megnyitasModal">
     <div class="modal-footer-container">
       <p class="alert alert-success" *ngIf="forumService.kommentHiba === 'Siker'">Komment közzétéve</p>
         <p class="alert alert-danger" *ngIf="forumService.kommentHiba === 'NincsKomment'">Kérem, gépelje be a közzétenni kívánt kommentet</p>
       <p style="font-size: larger; font-weight: bolder">Hozzászólások</p>
       <input type="text" name="komment" id="kommentInputLogged" placeholder="Írjon hozzászólást"
              *ngIf="localStorage.getItem('access')"
              [(ngModel)]="ujKomment.Komment"  (keydown.enter)="forumService.kommentLetrehozas(ujKomment, poszt.Poszt_id)">
       <input type="text" name="komment" [disabled]="true" id="kommentInputNotLoggged" placeholder="Írjon hozzászólást"
              *ngIf="!localStorage.getItem('access')"
              [(ngModel)]="ujKomment.Komment"  (keydown.enter)="forumService.kommentLetrehozas(ujKomment, poszt.Poszt_id)">
     </div>
      <div class="modal-footer-container" >
        <div *ngFor="let komment of Kommentek" style="margin: 3% 0 5% 0">
        <p class="komment" style="font-style: italic; font-weight: bold">{{komment.Kommentelo}}</p>
        <p class="komment">{{komment.Komment}}</p>
        </div>
      </div>
    </div>
    </div>
  </ng-template>
</div>

<!-- Új bejegyzés létrehozása -->
<button class="forumHozzaadas"><img src="/assets/img/add.png" (click)="PosztLetrehozasModal(PosztLetrehozas)"></button>

<ng-template #PosztLetrehozas let-modal class="letrehozasModal">
  <div class="modal-header centered letrehozasModal">
    <h4 class="modal-title" id="PosztLetrehozasModal">Új poszt létrehozása</h4>
    <button type="button" class="bezaroGomb"  (click)="modal.dismiss('Cross click')">X</button>
  </div>
  <div class="tavtarto">
    <p class="alert alert-success" *ngIf="forumService.posztHiba === 'Siker'">Poszt létrehozása sikeresen megtörtént!</p>
    <p class="alert alert-danger" *ngIf="forumService.posztHiba === 'NincsBejelentkezve'">Először be kell jelentkezni</p>
    <p class="alert alert-danger" *ngIf="forumService.posztHiba === 'NincsCim'"> Kérem adja meg a poszt címét!</p>
    <p class="alert alert-danger" *ngIf="forumService.posztHiba === 'NincsSzoveg'"> Kérem adja meg a poszt szövegét!</p>
  </div>
  <div class="modal-body letrehozasModal">
    <div class="container">
      <div class="row">
        <div class="col-md">
          <p class="PosztLetrehozasAdat"> Forum címe:</p>
          <p class="PosztLetrehozasAdat">Forum szövege:</p>
        </div>
        <div class="col-md">
          <input type="text" class="PosztInput" [(ngModel)]="ujPoszt.Cim">
          <input type="text" class="PosztInput" [(ngModel)]="ujPoszt.Szoveg">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer letrehozasModal">
    <button type="button" class="btn btn-outline-dark mentesGomb" (click)="forumService.posztLetrehozas(ujPoszt)" >Mentés</button>
  </div>
</ng-template>
