  <div class="container"> <!--A fő containere a felületnek-->
    <div class="row full-height justify-content-center"><!--Egy sort állít be ami      betölti  az egész oldalt-->
      <div class="align-self-center py-5"><!--Középre igazítjás, py-5= padding *top,*bottom-->
        <div class="section pb-5 pt-5 text-center">
          <!--Register felület (kártya hátulja)-->
          <div class="card-3d-wrap mx-auto">
            <div>
              <div class="card-back">
                <p class="fw-bold reg">Regisztráció</p>
                <div class="center-wrap">
                  <div class="section text-center">
                    <div class="tavtarto">
                      <p class="alert alert-danger" *ngIf="regisztracioService.regHiba === 'Nincsfnev'">
                        Felhasználónév megadása kötelező!
                      </p>
                      <p class="alert alert-danger" *ngIf="regisztracioService.regHiba === 'Nemjofnev'">
                        A megadott felhasználónév nem felel meg az elvárásoknak!
                      </p>
                      <p class="alert alert-danger" *ngIf="regisztracioService.regHiba == 'Vanilyenfnev'">
                        Már van regisztrált felhasználó ezzel a felhasználónévvel!
                      </p>
                      <p class="alert alert-danger" *ngIf="regisztracioService.regHiba == 'Nincsemail'">
                        Emailcím megadása kötelező
                      </p>
                      <p class="alert alert-danger" *ngIf="regisztracioService.regHiba === 'Rosszemail'">
                        A megadott email cím nem felel meg az elvárásoknak!
                      </p>
                      <p class="alert alert-danger" *ngIf="regisztracioService.regHiba === 'Vanmaremail'">
                        Már van regisztrált felhasználó ezzel az email címmel!
                      </p>
                      <p class="alert alert-danger" *ngIf="regisztracioService.regHiba === 'Nincsjelszo'">
                        Jelszó megadása kötelező!
                      </p>
                      <p class="alert alert-danger" *ngIf="regisztracioService.regHiba === 'Nemjojelszo'">
                        A megadott jelszó nem felel meg a követelményeknek!
                      </p>
                      <p class="alert alert-danger" *ngIf="regisztracioService.regHiba === 'Nemegyezojelszavak'">
                        A megadott jelszavak nem egyeznek egymással!
                      </p>
                    </div>
                    <!-- A regisztáriós panel input részei.
                    Az ngModel a regisztracio.component.ts fájlban deklarált változóba tárolja az adatokat. -->
                    <div class="form-group">
                      <input type="text" class="form-style" name="felhasznalonev" placeholder="Felhasználónév:" [(ngModel)]="felhasznalo.felhasznalonev">
                      <i class="input-icon uil uil-user"></i>
                    </div>

                    <div class="form-group mt-2">
                      <input type="email" class="form-style" name="email" placeholder="valami@gmail.com" [(ngModel)]="felhasznalo.email">
                      <i class="input-icon uil uil-at"></i>
                    </div>

                    <div class="form-group mt-2">
                      <input type="password" class="form-style" name="jelszo" placeholder="Jelszó:" [(ngModel)]="felhasznalo.jelszo">
                      <i class="input-icon uil uil-lock-alt"></i>
                    </div>

                    <div class="form-group mt-2">
                      <input type="password" class="form-style" name="jelszoEllenorzes" placeholder="Jelszó ismét: "[(ngModel)]="felhasznalo.jelszoUjra">
                      <i class="input-icon uil uil-lock-alt"></i>
                    </div>
                    <br>
                    <div>
                      <input type="checkbox" id="Szabaly" #Szabaly (click)="onCheckBoxSzabalyChange()"> Elfogadom a gombászat <a href="../../assets/file/szabaly.pdf" target="_blank">szabályait</a> és
                      <a href="../../assets/file/etika.pdf" target="_blank">etikáját</a>.
                    </div>
                    <!-- A metódust végrehajtó gomb. -->

                    <button type="submit" value="Regisztráció" class="btn mt-4" *ngIf="!szabalyCheck" (click)="regisztracioGomb()" disabled>Regisztráció</button>
                    <button type="submit" value="Regisztráció" class="btn mt-4" *ngIf="szabalyCheck" (click)="regisztracioGomb()">Regisztráció</button>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
