<div class="container">
  <!-- Felhasználó üdvüzlése -->
  <div class="row" id="username">
    <h1>Üdv {{felhasznalo.felhasznalonev}}</h1>
  </div>
  <br>
  <div class="row">
    <div class="col-4">
      <!-- Felhasználó adatai -->
      <div class="profiladat">
        <img src="/assets/img/profilepic.jpg" alt="Profilkép" id="profilkep">
        <div class="adatmezo">
          <label for="telszam1">Telefonszám:</label>
          <input type="text" name="telszam" id="telszam1" placeholder="06205478964" *ngIf="telszam.length < 2" [(ngModel)]="felhasznaloadatok.Telefon_szam">
          <input type="text" name="telszam" id="telszam2" [placeholder]="telszam" *ngIf="telszam.length > 1" [(ngModel)]="felhasznaloadatok.Telefon_szam">
          <label for="szulEv">Születési idő:</label><br>
          <p *ngIf="szulido.length > 1">{{szulido}}</p>
          <input type="date" name="szulEv" id="szulEv" *ngIf="(szulido.length < 1) " [(ngModel)]="felhasznaloadatok.Szuletesi_ido">
          <button type="button" id="adatMentes"  (click)="adatMentesGomb()">Adatok mentése</button>
          <br>
          <button type="button" id="profdelete" (click)="profilTorlesGomb()">Profil törlése</button>
        </div>
      </div>
    </div>
    <div class="col-8">
      <!-- A jelentkezett túrák közül a leghamarabb bekövetkező. -->
      <div class="posztok">
        <p class="posztcim">Posztjaid</p>
        <div *ngFor="let poszt of felhasznaloService.posztok">
          <p class="poszt">{{poszt.Cim}}</p>
        </div>
      </div>
  </div>
</div>
</div>
