/* Felhasználó üdvözlése */
#username {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  margin: 3% 0 3%  0;
}

/* Felhasználó profilképének formázása. */
#profilkep {
  height: 80%;
  width: 80%;
  border-radius: 50%;
  border: 3px solid black;
  margin-left: 10%;
}

/* Minden felhasználói adat elrendezése. */
.profiladat {
  padding: 10px;
  border: 3px solid black;
  border-radius: 20px;
  padding: 20% 5% 20% 5%;
  background-color: burlywood;
}

#adatMentes {
  margin-top: 30px;
  padding: 7px;
  border: 3px solid black;
  border-radius: 20px;
  background-color: #4BB543;
}

#telszam {
  margin-bottom: 12px;
}

/* Email és jelszó beviteli mező */

.adatmezo {
  padding: 1%;
  margin: 15% 10% 2% 10%;

}

/* Túrák */

.tura{
  padding: 10px;
  border: 3px solid black;
  border-radius: 20px;
}

.turacim {
  padding: 10px;
  border: 3px solid black;
  border-radius: 20px;
  background-color: #3c915f;
}

/* Profil törlése gomb. */

#profdelete {
  margin-top: 180%;
  margin-left: 18%;
  background-color: crimson;
  border-radius: 20%;
  padding: 10%;
  font-size: larger;
}

input {
  width: 80%;
}

