<div class="container"> <!--A fő containere a felületnek-->
  <div class="row full-height justify-content-center"><!--Egy sort állít be ami      betölti  az egész oldalt-->
    <div class="align-self-center py-5"><!--Középre igazítjás, py-5= padding *top,*bottom-->
      <div class="section pb-5 pt-5 text-center">
        <!--Bejelentkezés és regisztráció felirat-->
        <h6 class="mb-0 pb-2"><span>Bejelentkezés</span><span>Regisztráció</span></h6>
        <!--Checkbox-->
        <input class="checkbox" type="checkbox" name="reg-log" id="reg-log">
        <label for="reg-log"></label>
        <!--A login felület (kártya eleje)-->

        <div class="card-3d-wrap mx-auto">
          <div class="card-3d-wrapper">
            <div class="card-front">
              <div class="center-wrap">
                <div class="section text-center">
                  <h4 class="mb-4 pb-3">Bejelentkezés</h4>

                  <div class="form-group">
                    <input type="email" class="form-style" name="email" placeholder="valami@gmail.com">
                    <i class="input-icon uil uil-at"></i>
                  </div>

                  <div class="form-group mt-4">
                    <input type="password" class="form-style" name="jelszo" placeholder="Jelszó">
                    <i class="input-icon uil uil-lock-alt"></i>
                  </div>

                  <a href="http://" class="btn mt-4">Bejelentkezés</a>
                  <p class="mb-0 mt-4"><a href="http://" class="link">Elfelejtetted a jelszavad?</a></p>
                </div>
              </div>
            </div>
            <!--Register felület (kártya hátulja)-->

            <div class="card-back">
              <div class="center-wrap">
                <div class="section text-center">
                  <h4 class="mb-4 pb-3">Regisztráció</h4>

                  <div class="form-group">
                    <input type="text" class="form-style" name="felhasznalonev" placeholder="Felhasználónév:">
                    <i class="input-icon uil uil-user"></i>
                  </div>

                  <div class="form-group mt-2">
                    <input type="email" class="form-style" name="email" placeholder="valami@gmail.com">
                    <i class="input-icon uil uil-at"></i>
                  </div>

                  <div class="form-group mt-2">
                    <input type="password" class="form-style" name="jelszo" placeholder="Jelszó">
                    <i class="input-icon uil uil-lock-alt"></i>
                  </div>

                  <div class="form-group mt-2">
                    <input type="password" class="form-style" name="jelszo" placeholder="Jelszó ismét">
                    <i class="input-icon uil uil-lock-alt"></i>
                  </div>

                  <a href="http://" class="btn mt-4">Regisztráció</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
