<nav>
  <ul>
    <!-- A navigációs sáv linkjei. A routerLink-et használva érhető el az Angular Routing használata.
     Az itt meghivatkozott elérési utak az app.routes mappában vannak deklarálva,
      továbbá a RouterLink importálásra szorul a navbar.component.ts fájlban is.-->
    <li><a routerLink="">Kezdőlap</a></li>
    <li><a routerLink="/enciklopedia">Enciklopédia</a></li>
    <li><a routerLink="/tura">Túrák</a></li>
    <li><a routerLink="/terkep">Térkép</a></li>
    <li><a routerLink="/forum">Fórum</a></li>
    <li><a *ngIf="localStorage.getItem('access')" routerLink="felhasznalo">Profil</a></li>
    <li><a *ngIf="!localStorage.getItem('access')" routerLink="/regisztracio">Regisztráció</a></li>
    <li><a *ngIf="!localStorage.getItem('access')" routerLink="/bejelentkezes">Bejelentkezés</a></li>
    <li><a *ngIf="localStorage.getItem('access')" routerLink="" (click)="kijelentkezesGomb()">Kijelentkezés</a></li>
  </ul>
</nav>
