<!-- Feljegyzett túa -->
<div class="turaCheck">
  <label for="SajatTura">Saját túrák </label>
  <input type="checkbox" id="SajatTura"  #SajatTura (change)="onCheckBoxSajatChange()">
  <br>
  <label for="JelentkezettTura">Jelentkezett túrák</label>
  <input type="checkbox" id="JelentkezettTura"   #JelentkezettTura (change)="onCheckBoxJelentkezettChange()">
</div>
<div class="alertbox">
  <p class="alert alert-danger" *ngIf="this.turaservice.turahiba.length > 2 && JelentkezettTura.checked">Ön még nem jelentkezett egy túrára sem!</p>
  <p class="alert alert-danger" *ngIf="this.turaservice.turahiba == 'Ön még nem hozott létre egy túrát sem.' && SajatTura.checked">Ön még nem hozott létre egy túrát sem!</p>
</div>
  <div class="container tura" *ngFor="let tura of turak">
    <!-- A túra megnevezése -->
    <div class="turaNevHelye">
      <p style="display: none">{{tura.Tura_id}}</p>
      <p class="turaNeve">Túra neve: {{tura.Tura_neve}}</p>
      <button class="jelentkezesGomb btn btn-success"
              *ngIf="(tura.Felhasznalonev !=  this.felhasznalo.felhasznalonev) && (localStorage.getItem('access'))"
              (click)="jelentkezesGomb(tura.Tura_id)">Jelentkezés</button>

      <button class="jelentkezesGomb btn btn-danger"
              *ngIf="(tura.Felhasznalonev !=  this.felhasznalo.felhasznalonev) &&  (localStorage.getItem('access'))"
               (click)="jelentkezesTorlesGomb(tura.Tura_id)">Jelentkezés törlése</button>

      <button class="jelentkezesGomb btn btn-success"
              *ngIf="tura.Felhasznalonev ==  this.felhasznalo.felhasznalonev && (localStorage.getItem('access'))" (click)="turaModositasModal(turaModositas, tura.Tura_id)">Módosítás</button>

      <button class="torlesGomb btn btn-danger"
              *ngIf="tura.Felhasznalonev ==  this.felhasznalo.felhasznalonev && (localStorage.getItem('access'))" (click)="torlesgomb(tura.Tura_id)">Törlés</button>
    </div>
    <!-- túra adatai -->
    <div class="row turaAdat">
      <div class="col-md">
  <!--      <p>Létrehozó: {{tura.LetrehozoNeve.Felhasznalonev}}</p>-->
        <p>Indulási pont: {{tura.Indulas_hely}}</p>
        <p>Érkezési pont: {{tura.Erkezesi_hely}}</p>
        <p>Szervező elérhetősége: {{tura.Szervezo_elerhetosege}}</p>
        <br>
        <p>Leírás:</p>
        <p style="text-align: justify">{{tura.Leiras}}</p>
      </div>
      <div class="col-md">
        <p>Túra nehézsége: {{tura.Utvonal_nehezsege}}</p>
        <p>Indulási idő: {{tura.Indulas_ido}} </p>
        <p>Érkezési idő: {{tura.Erkezesi_ido}} </p>
        <p *ngIf="this.tura.Tura_dija != 0">Túra díja: {{tura.Tura_dija}}Ft</p>
        <p *ngIf="this.tura.Tura_dija == 0">Túra díja: Ingyenes</p>
        <p>Jelentkezők száma: {{tura.Jelentkezok}}</p>
        <p>Létrehozó: {{tura.Felhasznalonev}}</p>
    </div>
  </div>
  <ng-template #turaModositas let-modal class="lenyilo">
    <div class="modal-header centered lenyilo">
      <h4 class="modal-title" id="turaModositasModal">Túra módosítása</h4>
      <button type="button" class="bezaroGomb"  (click)="modal.dismiss('Cross click')">X</button>
    </div>
    <div class="tavtarto">

    </div>
    <div class="modal-body lenyilo">
      <div class="container">
        <div class="row">
          <div class="col-md">
            <p class="turaLetrehozasAdat">Túra neve:  </p>
            <p class="turaLetrehozasAdat">Indulási idő:  (év, hónap, nap, óra, perc)</p>
            <p class="turaLetrehozasAdat">Indulási pont: </p>
            <p class="turaLetrehozasAdat">Érkezési idő:  (év, hónap, nap, óra, perc)</p>
            <p class="turaLetrehozasAdat">Érkezési pont: </p>
            <p class="turaLetrehozasAdat">Túra nehézsége:</p>
            <p class="turaLetrehozasAdat">Szervező elérhetősége:</p>
            <p class="turaLetrehozasAdat">Túra díja:</p>
            <p class="turaLetrehozasAdat">Leírás:</p>
          </div>
          <div class="col-md">
            <input type="text" class="turaInput" placeholder="Gombatúra" [(ngModel)]="ujTura.Tura_neve">
            <input type="datetime-local" class="turaInput" placeholder="2024-03-07-15-00" [(ngModel)]="ujTura.Indulas_ido">
            <input type="text" class="turaInput" placeholder="Sátoraljaújhely" [(ngModel)]="ujTura.Indulas_hely">
            <input type="datetime-local" class="turaInput" placeholder="2024-03-07-19-00" [(ngModel)]="ujTura.Erkezesi_ido">
            <input type="text" class="turaInput" placeholder="Sátoraljaújhely" [(ngModel)]="ujTura.Erkezesi_hely">
            <input type="text" class="turaInput" placeholder="Könnyű" [(ngModel)]="ujTura.Utvonal_nehezsege">
            <input type="text" class="turaInput" placeholder="06-20-111-5654" [(ngModel)]="ujTura.Szervezo_elerhetosege">
            <input type="text" class="turaInput" placeholder="1000Ft" [(ngModel)]="ujTura.Tura_dija">
            <input type="text" class="turaInput" placeholder="Leírás" [(ngModel)]="ujTura.Leiras">
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer lenyilo">
      <button type="button" class="btn btn-outline-dark mentesGomb" (click)="turaservice.turaModositas(ujTura, tura.Tura_id)" >Mentés</button>
    </div>
  </ng-template>
</div>
<!-- Új túra létrehozása. -->

<button class="turaHozzaadas" (click)="turaLetrehozasModal(turaLetrehozas)"><img src="/assets/img/add.png"></button>


<ng-template #turaLetrehozas let-modal class="lenyilo">
	<div class="modal-header centered lenyilo">
		<h4 class="modal-title" id="turaLetrehozasModal">Új túra létrehozása</h4>
		<button type="button" class="bezaroGomb"  (click)="modal.dismiss('Cross click')">X</button>
	</div>
  <div class="tavtarto">
    <p class="alert alert-success" *ngIf="turaservice.turahiba === 'Siker'">
      A túra létrehozása sikeresen megtörtént
    </p>
    <p class="alert alert-danger" *ngIf="turaservice.turahiba === 'NincsSzulEv'">
      Kérem, először adja meg a születési dátumát a Profil menüben.
    </p>
    <p class="alert alert-danger" *ngIf="turaservice.turahiba === 'Nem18'">
      Az ön életkora nem felel meg a követelményeknek (18+)
    </p>
    <p class="alert alert-danger" *ngIf="turaservice.turahiba === 'Nincsnev'">
      A túra nevének megadása kötelező!
    </p>
    <p class="alert alert-danger" *ngIf="turaservice.turahiba === 'NincsIndIdo'">
      Az indulási idő megadása kötelező!
    </p>
    <p class="alert alert-danger" *ngIf="turaservice.turahiba === 'NincsIndHely'">
      Az indulási hely megadása kötelező!
    </p>
    <p class="alert alert-danger" *ngIf="turaservice.turahiba === 'NincsErkIdo'">
      Az érkezési idő megadása kötelező!
    </p>
    <p class="alert alert-danger" *ngIf="turaservice.turahiba === 'NincsErkHely'">
      Az érkezési hely megadása kötelező!
    </p>
    <p class="alert alert-danger" *ngIf="turaservice.turahiba === 'NincsNehezseg'">
      A túra nehézségének megadása kötelező!
    </p>
    <p class="alert alert-danger" *ngIf="turaservice.turahiba === 'Nincsleiras'">
      A túra leírásának megadása kötelező!
    </p>
    <p class="alert alert-danger" *ngIf="turaservice.turahiba === 'Szerver'">
      Ooops.. Próbálja újra később!
    </p>
  </div>
	<div class="modal-body lenyilo">
    <div class="container">
      <div class="row">
        <div class="col-md">
          <p class="turaLetrehozasAdat">Túra neve:  </p>
          <p class="turaLetrehozasAdat">Indulási idő:  (év, hónap, nap, óra, perc)</p>
          <p class="turaLetrehozasAdat">Indulási pont: </p>
          <p class="turaLetrehozasAdat">Érkezési idő:  (év, hónap, nap, óra, perc)</p>
          <p class="turaLetrehozasAdat">Érkezési pont: </p>
          <p class="turaLetrehozasAdat">Túra nehézsége:</p>
          <p class="turaLetrehozasAdat">Szervező elérhetősége:</p>
          <p class="turaLetrehozasAdat">Túra díja:</p>
          <p class="turaLetrehozasAdat">Leírás:</p>
        </div>
        <div class="col-md">
          <input type="text" class="turaInput" placeholder="Gombatúra" [(ngModel)]="ujTura.Tura_neve">
          <input type="datetime-local" class="turaInput" placeholder="2024-03-07-15-00" [(ngModel)]="ujTura.Indulas_ido">
          <input type="text" class="turaInput" placeholder="Sátoraljaújhely" [(ngModel)]="ujTura.Indulas_hely">
          <input type="datetime-local" class="turaInput" placeholder="2024-03-07-19-00" [(ngModel)]="ujTura.Erkezesi_ido">
          <input type="text" class="turaInput" placeholder="Sátoraljaújhely" [(ngModel)]="ujTura.Erkezesi_hely">
          <input type="text" class="turaInput" placeholder="Könnyű" [(ngModel)]="ujTura.Utvonal_nehezsege">
          <input type="text" class="turaInput" placeholder="06-20-111-5654" [(ngModel)]="ujTura.Szervezo_elerhetosege">
          <input type="text" class="turaInput" placeholder="1000Ft" [(ngModel)]="ujTura.Tura_dija">
          <input type="text" class="turaInput" placeholder="Leírás" [(ngModel)]="ujTura.Leiras">
        </div>
      </div>
    </div>
	</div>
	<div class="modal-footer lenyilo">
		<button type="button" class="btn btn-outline-dark mentesGomb" (click)="turaservice.turaLetrehozas(ujTura)" >Mentés</button>
	</div>
</ng-template>
<app-footer></app-footer>


