/* Túra kártya megjelenése */
.tura {
  background-color: #FBF9F1;
  margin: 2% 5% 0 10%;
  border: 2px solid black;
  border-radius: 20px;
  width: 80%;
}

/* Túra nevének elhelyezése, megjelenítése */
.turaNevHelye {
  border-bottom: 2px solid black;
  padding: 1%;
}

.turaNeve {
  margin: 2% 0 2% 5%;
  font-weight: bold;
  display: inline;
}

.jelentkezesGomb {
  margin-left: 70%;
  border: 2px solid black;
  border-radius: 40px;
}

/* Túra adatainak formázása*/

.turaAdat {
  margin: 2% 0 2% 10%;
}



/* Új túra létrehozása gomb. */

.turaHozzaadas {
  bottom: 75%;
  margin-left: 95%;
  border: 3px solid black;
  border-radius: 100px;
  height: 50px;
  width: 50px;
  position: sticky;
}

.lenyilo {
  width: 750px;
  background-color: white;
  align-self: center;
}

.bezaroGomb {
  color: red;
  font-weight: bold;
}

.turaInput{
  border: 1px solid black;
  margin-bottom: 8px;
  width: 70%;
}

.turaLetrehozasAdat {
  margin-bottom: 11px;
}

.mentesGomb {
  background-color: #198754;
  color: white;
}

.turaCheck {
  margin-top: 1%;
  margin-left: 2%;
  font-size: 18px;
}

input {
  margin-left: 1%;
}

.tavtarto {
  height: 65px;
  width: 750px;
  background-color: white;
  align-self: center;
}

.alert {
  text-align: center;
  font-weight: bold;
}
