<!-- Feljegyzett túa -->

<div class="container tura" *ngFor="let tura of turak">
  <!-- A túra megnevezése -->
  <div class="turaNevHelye">
    <p class="turaNeve">Túra neve: {{tura.Tura_neve}}</p>
    <button class="jelentkezesGomb btn btn-success"> Jelentkezés</button>
  </div>
  <!-- túra adatai -->
  <div class="row turaAdat">
    <div class="col-md">
      <p>Létrehozó: {{tura.LetrehozoNeve.Felhasznalonev}}</p>
      <p>Indulási pont:{{tura.Indulas_hely}}</p>
      <p>Érkezési pont:{{tura.Erkezesi_hely}}</p>
    </div>
    <div class="col-md">
      <p>Túra nehézsége:{{tura.Utvonal_nehezsege}}</p>
      <p>Indulási idő: {{tura.Indulas_ido}} (hónap, nap, óra, perc)</p>
      <p>Érkezési idő: {{tura.Varhato_erkezesi_ido}} (hónap, nap, óra, perc)</p>
    </div>
  </div>
</div>
<!-- Új túra létrehozása. -->

<button class="turaHozzaadas" (click)="open(content)"><img src="/assets/img/add.png"></button>

<ng-template #content let-modal>
	<div class="modal-header centered">
		<h4 class="modal-title" id="modal-basic-title">Új túra létrehozása</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Mentés</button>
	</div>
</ng-template>



