@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

body{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  line-height: 1.7;
  color: #245639;
  background-color: #ECEAEA;
  margin: 0;
  padding: 0;
  background-color: burlywood;
  color: black;
}


/*-----NAVBAR-----*/
nav {
  background-color: #333;
  text-align: center;
  padding: 1%;
}



nav ul{
  margin: 0;
  padding: 0;
}
nav ul li {

  display: inline-block;
  list-style-type: none;
}


nav > ul > li > a {
  color: #aaa;
  display: block;
  line-height: 2em;
  padding: 0.5em 0.5em;
  text-decoration: none;
}
/*-----NAVBAR VÉGE-----*/

/*-----FOOTER-----*/

footer {
  margin-top: 50%;
}

#kapcsolat, #forras {
  display: inline-block;
}

#kapcsolat {
  float: right;
  margin-right: 10%;
}

#forras {
  float: left;
  margin-left: 10%;
}

#kapcs,#forr {
  color: rgb(255, 0, 0);
  font-size: larger;
}

/*----- FOOTER VÉGE-----*/
