@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

body{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  line-height: 1.7;
  color: #245639;
  background-color: #ECEAEA;
  margin: 0;
  padding: 0;
  background-color: burlywood;
  color: black;
}
