/* A footer elhelyezése */
footer {
  margin-top: 7%;
}

/* A kapcsolat és a forrás igazításai*/

#kapcsolat {
  display: inline-block;
}


#kapcsolat {
  float: left;
  margin-left: 10%;
  font-size: larger;
}

#kapcs {
  color: rgb(255, 0, 0);
}


